.dice{
  background : rgb(237, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.642);
  border: none;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}
.dice:hover{
  background: rgb(226, 196, 196);
}
.rollBtn{
  background : rgb(237, 227, 227);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.642);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}
.rollBtn:hover{
  background: rgb(237, 221, 221);
  transform: translate(0, -2px);
  transform: scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.642);
}
.dice.held{
  background: rgba(235, 184, 184, 0.919);
}
.title{
  font-size: 2rem;
  margin-bottom: 0;
}
.instructions{
  margin-top: 1%;
  margin-bottom: 4%;
  font-size: 1.2rem;
  color: rgb(99, 99, 99);
  text-align: center;
  width: 60%;

}
.timer{
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 1.2rem;
  font-weight:500;
  color: rgb(99, 99, 99);
}
.rollcount{
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 1.2rem;
  font-weight:500;
  color: rgb(99, 99, 99);
}
/*per mobile/tablet*/
@media (max-width: 768px) {
  .dice{
    height: 60px;
    width: 60px;
    padding: 6px;
  }
  .rollBtn{
    font-size: 1rem;
    padding: 8px 16px;
  }
  .title{
    font-size: 1.5rem;
  }
  .instructions{
    width: 80%;
    font-size: 1rem;
  }
  .timer, .rollcount{
    font-size: 1rem;
  }
  .pip {
    width: 12px;
    height: 12px;
  }
}
/*per desktop*/
@media (min-width: 800px) {
  .dice{
    height:100px;
    width: 100px;
    padding: 10px;
  }
  .rollBtn{
    font-size: 1.5rem;
    padding: 12px 25px;
    margin-top: 5%;
  }
  .title{
    font-size: 2.5rem;
    margin-bottom: 2%;
  }
  .instructions{
    width: 80%;
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
  .timer, .rollcount{
    font-size: 1.5rem;
  }
  .pip {
    width: 15px;
    height: 15px;
  }
}

.pip-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  position: relative;
  
}

.pip {
  background: rgb(77, 24, 24);
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

/* Pozicionet sipas row/col */
.row-1 { grid-row: 1; }
.row-2 { grid-row: 2; }
.row-3 { grid-row: 3; }

.col-1 { grid-column: 1; }
.col-2 { grid-column: 2; }
.col-3 { grid-column: 3; }
